<frameset rows="62,*,32" frameborder="NO" border="0" framespacing="0">
	<frame name="choosetop" src="<!--#SMARTLINK action="choose/choosers/chooser_top.html" holdParams="true" frame="top" -->" scrolling="NO" noresize>
	<frame name="choosemiddle" src="<!--#SMARTLINK action="choose/choosers/chooser_middle.html" holdParams="true" frame="middle" -->" scrolling="YES">
	<frame name="choosebottom" src="<!--#SMARTLINK action="choose/choosers/chooser_bottom.html" holdParams="true" frame="bottom" -->" scrolling="NO" noresize>
</frameset>
