<!--#EMBED template="embeds/header.html" -->

<script language="JavaScript">
<!--
function choose()
{
	window.opener.focus();
	if (window.opener.{!p:form!}.{!p:field!})
	{
		window.opener.{!p:form!}.{!p:field!}.value = ext_dealer_id;
	}
	if (window.opener.{!p:form!}.{!p:field!}_text)
	{
		window.opener.{!p:form!}.{!p:field!}_text.value = display;
 		window.opener.{!p:form!}.dealer_name.value = display;
      	window.opener.{!p:form!}.ext_bill_to_addr_id.value = bill_to_address_id;

      if( window.opener.{!p:form!}.ext_price_level_id.value == "" )
      {
         window.opener.{!p:form!}.ext_price_level_id.value = price_level_id;
         window.opener.{!p:form!}.ext_price_level_id_text.value = price_level_id;
      }
	}
	document.body.onunload = null;
	window.opener.setTimeout(10000);
	window.opener.redisplaySmartForm();
}

window.focus(); //in case window is already open, then focus on window

// -->
</script>
</head>

<!--#CHOOSERTABLE name="choose" query="<?p:query?>" resourceName="<?s:org_resource?>" -->
	<!--#CHOOSERCOLUMN title="<?p:title?>" name="display" width="100%" filter="<?p:value?>" nowrap -->
<!--#/CHOOSERTABLE -->


<!--#EMBED template="embeds/footer.html" -->