<!--#EMBED template="embeds/header.html"-->

<table cellspacing="2" cellpadding="0" width="100%">
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><b>#</b></font></td>
		<td><font color="#000000" size="-2" face="Verdana"><b>Req</b></font></td>
		<td><font color="#000000" size="-2" face="Verdana"><b>Res</b></font></td>
		<td><font color="#000000" size="-2" face="Verdana"><b>Item</b></font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana"><b>Hours</b></font></td>
	</tr>
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><a href="{!s:showPage!}hour_detail.html?job_id={!p:job_id!}&qty=5.5" target="hour_detail">1</a></font></td>
		<td><font color="#000000" size="-2" face="Verdana">101</font></td>
		<td><font color="#000000" size="-2" face="Verdana">GC</font></td>
		<td><font color="#000000" size="-2" face="Verdana">AC-REG</font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana">5.5</font></td>
	</tr>
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><a href="{!s:showPage!}hour_detail.html?job_id={!p:job_id!}&qty=3" target="hour_detail">2</a></font></td>
		<td><font color="#000000" size="-2" face="Verdana">101</font></td>
		<td><font color="#000000" size="-2" face="Verdana">GC</font></td>
		<td><font color="#000000" size="-2" face="Verdana">CC-REG</font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana">3</font></td>
	</tr>
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><a href="{!s:showPage!}hour_detail.html?job_id={!p:job_id!}&qty=7" target="hour_detail">3</a></font></td>
		<td><font color="#000000" size="-2" face="Verdana">102</font></td>
		<td><font color="#000000" size="-2" face="Verdana">DR</font></td>
		<td><font color="#000000" size="-2" face="Verdana">AC-OT</font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana">7</font></td>
	</tr>
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><a href="{!s:showPage!}hour_detail.html?job_id={!p:job_id!}&qty=8" target="hour_detail">4</a></font></td>
		<td><font color="#000000" size="-2" face="Verdana">102</font></td>
		<td><font color="#000000" size="-2" face="Verdana">AB</font></td>
		<td><font color="#000000" size="-2" face="Verdana">AC-REG</font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana">8</font></td>
	</tr>
	<tr>
		<td><font color="#000000" size="-2" face="Verdana"><a href="{!s:showPage!}hour_detail.html?job_id={!p:job_id!}&qty=0.5" target="hour_detail">5</a></font></td>
		<td><font color="#000000" size="-2" face="Verdana">101</font></td>
		<td><font color="#000000" size="-2" face="Verdana">FGAB/font></td>
		<td><font color="#000000" size="-2" face="Verdana">AC-OT</font></td>
		<td align="right"><font color="#000000" size="-2" face="Verdana">0.5</font></td>
	</tr>
</table>
<!--#EMBED template="embeds/footer.html"-->