<!--#EMBED template="pocket/embeds/header.html" title="Req/Project Links"-->

<!--#EMBED template="pocket/embeds/title_bar.html" title="Req/Project Links"-->

<!--#EMBED template="embeds/spacer_table.html" spacer_height="5"-->


<table cellspacing="2" cellpadding="0" width="100%">
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Main</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail_header.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Header</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail_site.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Site</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail_quote.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Quote</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail_contacts.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Contacts</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/project_detail_notes.html?job_id={!p:job_id!}&service_id={!p:service_id!}&dest_template={!p:dest_template!}">Send Notes</a></b></font>
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="10"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-2" face="Verdana"><b><a href="{!s:showPage!}pocket/project_list.html?job_id={!p:job_id!}&dest_template={!p:dest_template!}">Req List</a></b></font>
		</td>
	</tr>
</table>



<!--#EMBED template="pocket/embeds/footer.html"-->