<!--#EMBED template="pocket/embeds/header.html" title="Req/Project Contacts"-->

<!--#EMBED template="pocket/embeds/title_bar.html" title="Req/Project Contacts"-->

<!--#EMBED template="embeds/spacer_table.html" spacer_height="5"-->


<!--#SQLLOOP
     name="detail"
     query="SELECT customer_name, customer_cell, customer_work,
     dealer_sr_name, dealer_sr_cell, dealer_sr_work,
     dealer_ss_name, dealer_ss_cell, dealer_ss_work,
     am_name, am_cell, am_work,
     approver_name, approver_cell, approver_work
			  FROM pkt_contacts_v
			  WHERE service_id = <?p:service_id.toPStmtString()?>"
	 alternator1="#FFFFFF:#DCDCDC"
-->
<table cellspacing="2" cellpadding="0" width="100%">
	<tr>
		<td>
			<font color="#000000" size="-2" face="Verdana"><b>Customer</b></font>
		</td>
		<td  nowrap>
			<font color="#000000" size="-2" face="Verdana">{!r:detail:customer_name!}</font><br>
			<!--#IF defined="<?r:detail:customer_work?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:customer_work!} (work)</font><br>
			<!--#/IF-->
			<!--#IF defined="<?r:detail:customer_cell?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:customer_cell!} (cell)</font>
			<!--#/IF-->
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->

	<tr>
		<td>
			<font color="#000000" size="-2" face="Verdana"><b>Dealer Sales Rep</b></font>
		</td>
		<td  nowrap>
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_sr_name!}</font><br>
			<!--#IF defined="<?r:detail:dealer_sr_work?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_sr_work!} (work)</font><br>
			<!--#/IF-->
			<!--#IF defined="<?r:detail:dealer_sr_cell?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_sr_cell!} (cell)</font>
			<!--#/IF-->
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->

	<tr>
		<td>
			<font color="#000000" size="-2" face="Verdana"><b>Dealer Sales Sup</b></font>
		</td>
		<td nowrap>
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_ss_name!}</font><br>
			<!--#IF defined="<?r:detail:dealer_ss_work?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_ss_work!} (work)</font><br>
			<!--#/IF-->
			<!--#IF defined="<?r:detail:dealer_ss_cell?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:dealer_ss_cell!} (cell)</font>
			<!--#/IF-->
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->

	<tr>
		<td>
			<font color="#000000" size="-2" face="Verdana"><b>Service Provider</b></font>
		</td>
		<td nowrap>
			<font color="#000000" size="-2" face="Verdana">{!r:detail:am_name!}</font><br>
			<!--#IF defined="<?r:detail:am_work?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:am_work!} (work)</font><br>
			<!--#/IF-->
			<!--#IF defined="<?r:detail:am_cell?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:am_cell!} (cell)</font>
			<!--#/IF-->
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->

	<tr>
		<td>
			<font color="#000000" size="-2" face="Verdana"><b>Approver</b></font>
		</td>
		<td  nowrap>
			<font color="#000000" size="-2" face="Verdana">{!r:detail:approver_name!}</font><br>
			<!--#IF defined="<?r:detail:approver_work?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:approver_work!} (work)</font><br>
			<!--#/IF-->
			<!--#IF defined="<?r:detail:approver_cell?>" -->
			<font color="#000000" size="-2" face="Verdana">{!r:detail:approver_cell!} (cell)</font>
			<!--#/IF-->
		</td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->


</table>

<!--#/SQLLOOP-->


<table cellspacing="2" cellpadding="0" width="100%">
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="10"-->
	<tr>
		<td align="center">
			<font color="#000000" size="-2" face="Verdana"><b><a href="{!s:showPage!}pocket/project_list.html?job_id={!p:job_id!}&dest_template={!p:dest_template!}">Req List</a></b></font>
		</td>
	</tr>
</table>

<!--#EMBED template="pocket/embeds/footer.html"-->