<!--#EMBED template="pocket/embeds/header.html" -->


<table border="0" cellpadding="3" cellspacing="0" width="100%">
<tr>
	<td bgcolor="#cdcdcd" align="center">
		<font color="#000000" size="-1" face="Verdana"><b>Message Of The Day</b></font>
	</td>
</tr>
<tr>
	<td bgcolor="#FFFFFF" align="center">
		<font color="#000000" size="-1" face="Verdana"><!--#EMBED template="motd.txt" spacer_height="5"--></font>
	</td>
</tr>
</table>


<!--#EMBED template="embeds/spacer_table.html" spacer_height="5"-->

<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr>
		<td><font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/job_list.html?dest_template=pocket/hours_entry.html">Enter Hours</a></b></font></td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td><font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/send_job_list.html?dest_template=pocket/send.html">Send Hours</a></b></font></td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="5"-->
	<tr>
		<td><font color="#000000" size="-1" face="Verdana"><b><a href="{!s:showPage!}pocket/job_list.html?dest_template=pocket/project_detail.html">Job Details</a></b></font></td>
	</tr>
	<!--#EMBED template="embeds/spacer_row.html" spacer_height="10"-->
	<tr>
		<td align="center"><font color="#000000" size="-2" face="Verdana"><b><a href="{!s:showPage!}pocket/login.html">Log Out</a></b></font></td>
	</tr>
</table>

<!--#EMBED template="pocket/embeds/footer.html" -->