#set ($alias = $table.destinationClassName) 
#set ($pkCol = $table.pkColumn) 

#macro(paramRef $ref)param.$ref#end

<%@ include file="../includes/init.jsp" %>

<html><head><title>${alias} Detail</title></head><body>

<charm:form
 name="${alias}_detail"
 action="process.form"
 successView="admin/${alias}_list"
 formView="admin/${alias}_detail"
 fieldDecorator="divDecorator"
 css="form"
>


	<charm:bind name="b1" identifier="${#paramRef($pkCol.variableName)}" className="${table.destinationClassName}" primary="true"/>
 	<charm:error bind="b1" css="errorFormRow" />

#foreach ( $column in $table.notKeyColumns )
#if( ${column.nullable})
	<charm:text bind="b1" property="${column.variableName}" label="${alias}Form.${column.variableName}.label" tooltip="${alias}Form.${column.variableName}.tooltip" />
#else
	<charm:text bind="b1" property="${column.variableName}" label="${alias}Form.${column.variableName}.label" tooltip="${alias}Form.${column.variableName}.tooltip" mandatory="true" />
#end
#end


#foreach($relationshipRole in $table.notPrimaryKeyRoles)
#if ($table.getCardinalityValue($relationshipRole) == "many-to-one" && $relationshipRole.enabled)
#set( $target = $relationshipRole.getTarget($plugin))
#foreach( $column in $target.notKeyColumns )
#if( ${column.variableName} == "name")
				 <tr>
					<td class="formLabel">$target.destinationClassName</td>
					<td class="formField">
						<form:chooser 
						      domainRef="${alias}"
						      property="${table.getVariableName($relationshipRole)}"
						      chooserURL=""
						      chooserWidth=""
						      chooserHeight=""
						      optionValue="${target.pkColumn.variableName}"
						      optionLabel="${column.variableName}"
						      queryService="queryService"
						      queryName="${target.destinationClassName}_all"
						      readonly="true"
						      style="background-color:#DCDCDC"/>
					</td>
				</tr>

#end
#end
#end
#end

	<div align="right">
		<charm:button code="Cancel" display="Cancel" />
		<charm:button code="Save" display="Save" />
		<charm:button code="Delete" display="Delete" />
	</div>
	<charm:audit bind="b1" />

</charm:form> 



Related tables:
<ul>
#foreach($relationshipRole in $table.notPrimaryKeyRoles)
#if ($table.getCardinalityValue($relationshipRole) == "one-to-many" && $relationshipRole.enabled)

#set( $one2one = $relationshipRole.relation.one2One )
#set( $many2many = $relationshipRole.relation.many2Many )
#set( $bidirectional = $relationshipRole.relation.bidirectional )
#set( $target = $relationshipRole.getTarget($plugin))

  <c:url value="${target.destinationClassName}_listing.html" var="foo">
   <c:param name="queryName" value="${table.getVariableName($relationshipRole)}From${table.destinationClassName}"/>   	
   <c:param name="fk" value="${#paramRef($pkCol.variableName)}"/>   	
 </c:url>
 
 <li><a href="${foo}">${target.destinationClassName}</a></li>

#end
#end
</ul>

</body></html>
