



A:ACTIVE.Titlebar, A:FOCUS.Titlebar, A:HOVER.Titlebar, A:LINK.Titlebar, A:VISITED.Titlebar {
	color : White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	background-color: black;
	font-size : 12px;
}

.TitleBar{
	color : White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color: black;
}

.currentStandards{
	font-size: 9px;  //standard text
	font-size: 10px; //header text
	font-family: Verdana, Arial, Helvetica, sans-serif; //standard font-family
}

BODY{ //used to indicate no class has been specified
	font-size: 19px;
	background-color: #FFFFFF;	
}

TABLE{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}

TEXTAREA{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.BodyTag{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}

.Checkbox{
	height: 15px;
	width: 15px;
}

.Label{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:  #000000;
}

.HeaderLabel
{
	font-size: 10px;
	font-family: sans-serif;
	font-weight: bold;
	color: #000000;
}

.LabelLink
{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:  #000000;
	padding-right: 15;
}

.Tab{
	cursor : hand;
	font-weight: bold;
	background-color: #C8C8C8;
	color: #0033FF;
	text-align : center;
	font-family : Arial, Helvetica, sans-serif;
}

.TabSelected{
	cursor : hand;
	font-weight: bold;
	background-color: #FF6600;
	color: #FFFFFF;
	text-align: center;
}

.HeaderBar{
	font-size: 12px;
	background-color : #DED5C6;
	border-color : #DED5C6;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #000000;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}



TABLE.SmartTable{
	width : 100%;
}

TABLE.HeaderTable{
	width : 100%;
	border-bottom : 0 none;
	border-left : 0 none;
	border-top : 0 none;
	border-right : 0 none;
}

.TableHeader{
	font-size : 11px;
	background-color : #999999;
	border-left-color : #999999;
	border-top-color : #999999;
	border-right-color : #111111;
	border-bottom-color : #111111;
	border-style : solid;
	color : #ffffff;
	cursor : default;
	font-weight : bold;
	border-width : 0;
	height : 18;
	text-align : center;
}

.TableTotal{
	font-size : 10px;
	font-weight : bold;
	background-color: #999999;
	color: #FFFFFF;
	padding-left: 4;
	padding-right: 4;
	border-right : 1px solid;
	border-bottom : 1px solid;
	height : 20;
	text-align: right;
}

.TableHeaderLink{
	font-size : 10px;
	background-color : #191970;
	border-left-color : #999999;
	border-top-color : #999999;
	border-right-color : #111111;
	border-bottom-color : #111111;
	border-style : solid;
	color : #F5F5F5;
	cursor : default;
	font-weight : bold;
	border-width : 2;
	text-align : center;
	height : 18;
	text-decoration : underline;
}

.TableHeaderLinkRollover{
	font-size : 10px;
	background-color : #00008B;
	border-left-color : #999999;
	border-top-color : #999999;
	border-right-color : #111111;
	border-bottom-color : #111111;
	border-style : solid;
	color : #F5F5F5;
	cursor : default;
	font-weight : bold;
	border-width : 2;
	text-align : center;
	height : 18;
	text-decoration : underline;
}

.TableTitle{
	font-size: 10px;
	background-color : #4682B4;
	border-color : #4682B4;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}

.TableTitleButton{
	font-size: 10px;
	background-color : #003380;
	color : #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin: 0;
	border: none;
}

.TableTitleButtonRollover{
	font-size: 10px;
	background-color : #003310;
	color : #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin: 0;
	border: none;
}


.TableTitleRollover{
	font-size: 10px;
	background-color : #0066CC;
	border-color : #0066CC;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}

.TableTitlePressed{
	font-size: 10px;
	background-color : #0066CC;
	border-left-color : #001128;
	border-top-color : #001128;
	border-right-color : #0044A0;
	border-bottom-color : #0044A0;
	border-style : solid;
	color : #AAAAAA;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width: 1;
	border-top-width : 2;
	border-left-width : 2;
	text-align : center;
}

.TableTitleSorted{
	font-size: 10px;
	background-color : #4682B4;
	border-color : #4682B4;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}

.TableTitleSortedPressed{
	font-size: 10px;
	background-color : #0066CC;
	border-color : #0066CC;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center
}


.TableTitleSortedRollover{
	font-size: 10px;
	background-color : #0066CC;
	border-color : #0066CC;
	border-right-color : #777777;
	border-bottom-color : #777777;
	border-style : solid;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}

.TableRow1{
	font-style : normal;
	background-color: #DCDCDC;
	color: #000000;
	padding-left: 4;
	padding-right: 4;
	border-right : 1px solid;
	border-bottom : 1px solid;
}

.TableRow1Link{
	font-style : normal;
	background-color: #DCDCDC;
	color: #0033cc;
	padding-left: 4;
	padding-right: 4;
	border-right : 1px solid;
	border-bottom : 1px solid;
	text-decoration: underline;
}

.TableRow2{
	font-style : normal;
	background-color: Silver;
	color: #000000;
	padding-left: 4;
	padding-right: 4;
	border-right : 1px solid;
	border-bottom : 1px solid;
}

.TableRow2Link{
	font-style : normal;
	background-color: Silver;
	color: #0033cc;
	padding-left: 4;
	padding-right: 4;
	border-right : 1px solid;
	border-bottom : 1px solid;
	text-decoration: underline;
}

.TableRowLinkRollover{
	font-style: normal;
	background-color: #fefefe;
	color: #0033cc;
	padding-left: 4;
	padding-right: 4;
	border-bottom : 1px solid;
	border-right : 1px solid;
	text-decoration: underline;
}	

.TableRowLink{
	font-style : normal;
	font-weight:bold;
	background-color: #cdcdcd;
	color: #003380;
	padding-left: 4;
	border-bottom : 1px solid;
	border-right : 1px solid;
	text-decoration: underline;
}	

.TableRowTextDisabled{
	font-size: 10px;
	background-color : #4682B4;
	color : #000000;
	font-weight : bold;
	padding-left: 4;
	padding-right: 4;
	border-width : 1;
	border-left-width: 2;
	border-top-width: 2;
	text-align: center;
}

.TableFilter{
	background-color: #CCCDCD;
	color: #00FF00;
}








.Chooser {
	background-color: #FFFFFF;
	margin: 0;
}

.ChooserTop{
}

.ChooserBody {
}

.ChooserBottom{
	background-color: #CCCDCD;
	margin: 0;
}

.ChooserTableRow1 {
	background-color: #FFFFFF;
	color: #000000;
	padding-left : 4;
	padding-top : 4;
	border-bottom: solid 1px #555555;
}

.ChooserTableRow2 {
	background-color: #FFFFFF;
	color: #000000;
	padding-left : 4;
	padding-top : 4;
	border-bottom: solid 1px #555555;
}


.ChooserTableRowSelected {
	background-color: #F9CC88;
	color: #000000;
	padding-left : 4;
	padding-top : 4;
	border-bottom: solid 1px #555555;
}

.ChooserTableRowRollover {
	background-color: #FDF1DF;
	color: #666666;
	padding-left : 3;
	padding-top : 2;
	border-bottom: solid 1px #555555;
}




.button{
	font-weight: normal;
	background-color: #FF33FF;
	color: #FF33FF;
	text-align : center;
	font-family : Arial, Helvetica, sans-serif;
}

.button2
{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF33FF;
	margin: 0;
	height: 18px;
}

.buttonDisabled2
{
	background-color: #CCCCCC;
	font-weight: bold;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 18px;
}

.ButtonSpacing {
	height: 22;
}

.FormButtonSpacing {
	height: 14;
}

.FormBackground{
	background-color: #003380;
	color: #FFFFFF;
}

.FormLabel{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:  #000000;
}
.FormLabelFocus{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000DD; 
}

.FormLabelMandatory{ 
	color: #C77755;
}
 

.regular{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1 solid #000000;
}

.regularEdit{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 1 solid #000000;
}

.smartTableDisplay{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #DCDCDC;
	color: Black;
	padding: 2;
}

.focus{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #0030DD; 
}

.readonly{ 
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #C0C0C0;
	color: #000000;
	border: 1 solid #000000;
	padding: 2;
}

.readonly_temp{ 
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color : #C0C0C0;
	color: #333333;
	border: 1 solid #000000;
	padding: 2;
}

.viewonly{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	border: none;
	color: #0000FF;
}


.mandatory{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CD5C5C;
	border: 1 solid #000000;
}

.mandatoryLabel{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC1111;
}

.mandatoryLabelError{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC1111;
}

.FormLabelError {
	background-color: #CC0000;
	color: #FFFFFF;
	padding: 3px;
	width: 150; 
	border-top-width: 1;
	border-left-width: 1;
	border-bottom-width: 1;
	border-right-width: 2;
	border-color: #B4B4B4;
	border-style: solid;
}

.error{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #EE1111;
	color: #FFFFFF;
	border: 1 solid #000000;
	padding: 2;
}

.errorText {
	background-color: RED;
	color: WHITE;
	font-weight: bold;
	border: solid 2;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 3px;
	padding-left: 3px;
	border-left-color : #999999;
	border-top-color : #999999;
	border-right-color : #111111;
	border-bottom-color : #111111;
	text-align: center;
}

.infoText{
	background-color : #A9A9A9;
	color : WHITE;
	font-weight: bold;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 3px;
	padding-left: 3px;
	border: medium ridge #003380;
	border: solid 2;
	border-left-color : #CCCCCC;
	border-top-color : #CCCCCC;
	border-right-color : #111111;
	border-bottom-color : #111111;
	text-align: center;
	text-indent: 4pt;
}



