<!--#EMBED template="embeds/header.html" -->

<frameset rows="30,*" framespacing="0" frameborder="no">
	<frame name="sch_head_frame" src="{!s:showPage!}setupSchSession/sch/sch_head.html?sch_action=setup_date_type&date_type_code=today" marginheight="0" marginwidth="10" scrolling="no" noresize >
	<frame name="sch_body_frame" marginheight="0" marginwidth="10">
	<noframes>
	   Your browser does not support frames.
	</noframes>
</frameset>

<!--#EMBED template="embeds/footer.html" -->


