<!--#EMBED template="enet/embeds/header.html" -->
<!--#REQUIRED data="<?s:user?>"-->
<body>
  <table>
	<tr>
	  <td valign="top">
		<!--#SMARTTABLE name="attachedDocuments"
	 	                query="SELECT rd.request_document_id,
	 	                              rd.name,
	 	                              u.full_name created_by,
	 	                              rd.date_created
			 	                 FROM request_documents rd,
                                      services s,
			 	                      users u
				                WHERE rd.created_by = u.user_id
                                  AND (s.request_id = rd.request_id OR
                                      rd.request_id = (SELECT request_id FROM requests WHERE quote_request_id = s.request_id) OR
				                      rd.request_id = (SELECT quote_request_id FROM requests WHERE request_id = s.request_id))
				                  AND s.service_id = <?s:service_id.toPStmtInt()?>"
				    -->
				    <!--#SMARTCOLUMN name="name" title="Name" style="width:200" href="javascript:download(<?r:attachedDocuments:request_document_id?>)" -->
				    <!--#SMARTCOLUMN name="created_by" title="Created By" style="width:100" -->
				    <!--#SMARTCOLUMN name="date_created" title="Date Created" format="date" -->
				    <!--#SMARTCOLUMN name="delete" title="Delete" value="Delete" href="javascript:deleteDocument(<?r:attachedDocuments:request_document_id?>, <?r:attachedDocuments:name.toJavaScriptString()?>)" -->
				<!--#/SMARTTABLE -->
			</td>
		</tr>
		<form action="{!s:action!}requestDocumentUpload/enet/req/documents.html" method="post" enctype="multipart/form-data" onsubmit="return validate({!s:request_id.toJavaScriptString()!});">
		<!--#IF defined="<?d:error_message?>" -->
		<tr>
			<td valign="top">
				<span class="error">{!d:error_message.toHTML()!}</span>
			</td>
		</tr>
		<!--#/IF -->
		</form>
	</table>
</body>
<script language="JavaScript">
function deleteDocument(requestDocumentId, documentName)
{
	if (confirm("Delete the document " + documentName + "?"))
	{
		var url = {!s:action.toJavaScriptString()!} + 'requestDocumentDelete/enet/req/documents.html'
		+ '?request_document_id=' + requestDocumentId;
		document.location.replace(url);
	}
}

function download(requestDocumentId)
{
	var url = {!s:action.toJavaScriptString()!} + 'requestDocumentDownload'
	+ '?request_document_id=' + requestDocumentId;
	window.open(url, 'chooser', ##-WIN-##);
}
function validate(requestId)
{
	var result = true;
	if (requestId === '')
	{
		alert("The service request must be saved before documents may be added.");
		result = false;
	}
	return result;
}
</script>
</html>
