<!-- $Header: emp_hours_report.html, 3, 4/1/2003 11:33:34 AM, Chad Ryan$ -->
<!--#EMBED template="enet/embeds/header.html" -->
<!--#REQUIRED data="<?s:user?>"-->
<!--#REQUIRED data="<?s:rights.rep/emp_hours_report.view?>"-->

<body class="BodyTag" onLoad="window.focus()">


<table width="100%" cellspacing="0" cellpadding="3">

<body class="BodyTag" onLoad="">

	<table width="100%">
		<tr><td colspan="16" class="TableTitle">Employee Hours Report</td></tr>
	</table>

<BR>

	<table border="0" cellspacing="0" cellpadding="3">
	<form name="report">
		<tr>
			<td class="Label">Employee ID:&nbsp</td>
			<td><!--#SELECT name="r_user_id" class="regular" query="SELECT user_id, ISNULL(CAST(ext_employee_id AS VARCHAR),'')+' : '+first_name+' '+last_name FROM employees_v WHERE organization_id=<?s:org_id.toPStmtInt()?> AND active_flag='Y' ORDER BY ext_employee_id" firstOption="All" firstOptionValue="" currentValue="<?p:r_user_id?>" --></td>
		</tr>
		<tr>
			<td class="Label">Resource Name:&nbsp</td>
			<td><!--#SELECT name="r_employee_name" class="regular" query="SELECT user_id, first_name+' '+last_name+' : '+ISNULL(CAST(ext_employee_id AS VARCHAR),'') FROM employees_v WHERE organization_id=<?s:org_id.toPStmtInt()?> AND active_flag='Y' ORDER BY first_name, last_name" firstOption="All" firstOptionValue="" currentValue="<?p:r_employee_name?>" --></td>
			<td class="Label">Employee Signature:_____________________________</td>
		</tr>
		<tr>
			<td class="Label">Job #:&nbsp</td>
			<td colspan="2"><!--#SELECT name="r_job_id" class="regular" query="SELECT job_id, CAST(job_no as varchar)+' : '+ISNULL(job_name,'') job_no FROM jobs_v WHERE organization_id=<?s:org_id.toPStmtInt()?> ORDER BY job_no" firstOption="All" firstOptionValue="" currentValue="<?p:r_job_id?>" --></td>
		</tr>
		<tr>
			<td colspan="2"><table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="Label">From Date:&nbsp</td>
					<td>
				<!--#IF DEFINED="<?p:r_from_date?>" -->
						<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!p:r_from_date!}" size="12" -->
				<!--#ELSE-->
					<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as from_date" name="dateQuery"-->
			     		<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!r:dateQuery:from_date!}" size="12"-->
					<!--#/SQLLOOP-->
				<!--#/IF-->
						<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>
					</td>
					<td class="Label">&nbsp;&nbsp;&nbsp;To Date:&nbsp;</td>
			     	<td>
				<!--#IF DEFINED="<?p:r_to_date?>" -->
						<input name="r_to_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>" value="{!p:r_to_date!}" size="12" -->
				<!--#ELSE-->
					<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as to_date" name="dateQuery"-->
			     		<input name="r_to_date" class="regular" value="{!r:dateQuery:to_date!}" size="12"-->&nbsp;
					<!--#/SQLLOOP-->
				<!--#/IF-->
						<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>
					</td>
				</tr>
			</table></td>
		</tr>
		<tr>
   	   <td><input type="button" name="set_button" value="Run Report" onClick="redisplayPage();" class="button2"-->&nbsp;</td>
		</tr>
	</form>
	</table>

<BR>
   <!--#SMARTTABLE class="SmartTable" name="job_time_by_emp_v"
	   query="SELECT r.ext_employee_id, r.employee_name, r.service_line_date, r.tc_job_no, r.job_name, r.service_no, r.item_name,
	   			r.ext_pay_code, r.payroll_qty, r.payroll_rate, r.payroll_total, scheduled_flag, foreman_resource_name
				FROM job_time_by_emp_v r
		   	WHERE 'true' = <?p:r_show_report.isNullSQLString('false')?>
		   		AND r.organization_id = <?s:org_id.toPStmtInt()?>
					AND (r.service_line_date between <?p:r_from_date.isNullSQLString('1/1/1901')?> and <?p:r_to_date.isNullSQLString('1/1/2101')?>)
		   	ORDER BY r.employee_name"
		   	filter="report_job(r.tc_job_id,r.user_id)"
		   	
   -->
		<!--#SMARTCOLUMN title="Emp&nbsp;ID" name="ext_employee_id" sort="ext_employee_id" align="center" -->
		<!--#SMARTCOLUMN title="Resource&nbsp;Name" name="employee_name" sort="employee_name" -->
		<!--#SMARTCOLUMN title="Date" name="service_line_date" sort="service_line_date" format="date" -->
		<!--#SMARTCOLUMN title="Job#" name="tc_job_no" sort="tc_job_no" align="center"  -->
		<!--#SMARTCOLUMN title="Job&nbsp;Name" name="job_name" sort="job_name" -->
		<!--#SMARTCOLUMN title="Req.#" name="service_no" sort="service_no" -->
		<!--#SMARTCOLUMN title="Foreman" name="foreman_resource_name" sort="foreman_resource_name" -->
		<!--#SMARTCOLUMN title="Paycode" name="ext_pay_code" sort="ext_pay_code" align="center"-->
		<!--#SMARTCOLUMN title="Item" name="item_name" sort="item_name" -->
		<!--#SMARTCOLUMN title="HRs" name="payroll_qty" sort="payroll_qty" total="true" align="right"-->
		<!--#SMARTCOLUMN title="Sch?" name="scheduled_flag" sort="scheduled_flag" align="center" -->
   <!--#/SMARTTABLE -->

<BR>
	<table width="100%">
		<tr><td colspan="16" class="TableTitle">Total Hours by Paycode</td></tr>
		<tr><td align="center">
   <!--#SMARTTABLE name="job_time_by_emp_v2"
	   query="SELECT r.ext_pay_code, SUM(ISNULL(r.payroll_qty,0)) payroll_qty
				FROM job_time_by_emp_v r
		   	WHERE 'true' = <?p:r_show_report.isNullSQLString('false')?>
		   		AND r.organization_id = <?s:org_id.toPStmtInt()?>
					AND (r.service_line_date between <?p:r_from_date.isNullSQLString('1/1/1901')?> and <?p:r_to_date.isNullSQLString('1/1/2101')?>)
		   	GROUP BY ext_pay_code
		   	ORDER BY ext_pay_code"
		   	filter="report_job(r.tc_job_id,r.user_id)"
		   	
   -->
		<!--#SMARTCOLUMN title="Paycode" name="ext_pay_code" sort="ext_pay_code"  align="center"-->
		<!--#SMARTCOLUMN title="Total&nbsp;HRs" name="payroll_qty" sort="payroll_qty" total="true" align="right"-->
   <!--#/SMARTTABLE -->
	</td></tr>
	</table>

</body>

<script language="JavaScript">
<!--

	function redisplayPage()
	{//used by report

		var r_user_id = escape(report.r_user_id.options[report.r_user_id.selectedIndex].value);
		if( r_user_id == null )
			 r_user_id = '';

		var r_employee_name = escape(report.r_employee_name.options[report.r_employee_name.selectedIndex].value);
		if( r_employee_name == null )
			 r_employee_name = '';

		var r_job_id = escape(report.r_job_id.options[report.r_job_id.selectedIndex].value);
		if( r_job_id == null )
			 r_job_id = '';

		var r_from_date = escape(report.r_from_date.value);
		if( r_from_date == null )
			 r_from_date = '';

		var r_to_date = escape(report.r_to_date.value);
		if( r_to_date == null )
			 r_to_date = '';

		location='{!s:showPage!}rep/emp_hours_report.html?r_user_id='+r_user_id+'&r_employee_name='+r_employee_name+'&r_job_id='+r_job_id+'&r_from_date='+r_from_date+'&r_to_date='+r_to_date+'&r_show_report=true';
	}

-->
</script>



<!--#EMBED template="enet/embeds/footer.html" -->

