<!-- $Header: forecast_report.html, 1, 6/22/2001 9:07:53 AM, Chad Ryan$ -->
<!--#EMBED template="enet/embeds/header.html" -->
<!--#REQUIRED data="<?s:user?>"-->
<!--#REQUIRED data="<?s:rights.rep/forecast_report.view?>"-->

<body class="BodyTag" onLoad="window.focus()">


<table width="100%" cellspacing="0" cellpadding="3">

<body class="BodyTag" onLoad="">

	<table width="100%">
		<tr><td colspan="16" class="TableTitle">Resource Estimate's Forecast Summary by Resource Type</td></tr>
	</table>

<BR>

	<table border="0" cellspacing="0" cellpadding="3">
	<form name="report">
		<tr>
			<td class="Label">Job Type:&nbsp</td>
			<td><!--#SELECT name="r_job_type_id" query="SELECT lookup_id, lookup_name FROM job_types_v ORDER BY sequence_no" firstOption="All" firstOptionValue="" currentValue="<?p:r_job_type_id?>" class="regular"--></td>
		</tr>
      <tr>
			<td class="Label">From Date:&nbsp</td>
			<td>
		<!--#IF DEFINED="<?p:r_from_date?>" -->
				<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!p:r_from_date!}" size="12" -->
		<!--#ELSE-->
			<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as from_date" name="dateQuery"-->
	     		<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!r:dateQuery:from_date!}" size="12"-->
			<!--#/SQLLOOP-->
		<!--#/IF-->
				<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>
			</td>
			<td class="Label">To Date:&nbsp</td>
	     	<td>
		<!--#IF DEFINED="<?p:r_to_date?>" -->
				<input name="r_to_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>" value="{!p:r_to_date!}" size="12" -->
		<!--#ELSE-->
			<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as to_date" name="dateQuery"-->
	     		<input name="r_to_date" class="regular" value="{!r:dateQuery:to_date!}" size="12"-->&nbsp;
			<!--#/SQLLOOP-->
		<!--#/IF-->
				<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>
			</td>
		</tr>
		<tr>
   	   <td><input type="button" name="set_button" value="Run Report" onClick="redisplayPage();" class="button2"-->&nbsp;</td>
		</tr>
	</form>
	</table>

<BR>

	<!--#SMARTTABLE class="SmartTable" name="emp"
	   query="SELECT  re.resource_type_name, COUNT(DISTINCT job_id) num_jobs, SUM(re.unit_qty) num_res, SUM(re.total_hours) num_hrs
				FROM RESOURCE_ESTIMATES_V re
				WHERE 'true' = <?p:r_show_report.isNullSQLString('false')?>
		   		AND re.organization_id = <?s:org_id.toSQLString()?>
		   		AND re.resource_type_id <?p:resource_type_id.isNullLike('%')?>
					AND (re.job_type_id <?p:r_job_type_id.isNullLike('%')?> )
		   		AND ( re.start_date is null
		   				OR re.start_date between <?p:r_from_date.isNullSQLString('1/1/1901')?> and <?p:r_to_date.isNullSQLString('1/1/2101')?>
	   				)
	   		GROUP BY resource_type_name
				ORDER BY resource_type_name"
				group="resource_type_name"
	-->
		<!--#SMARTCOLUMN title="Resource Type" name="resource_type_name" sort="resource_type_name" -->
		<!--#SMARTCOLUMN title="Jobs" name="num_jobs" sort="num_jobs" align="center" -->
		<!--#SMARTCOLUMN title="Resources" name="num_res" sort="num_res" align="center" -->
		<!--#SMARTCOLUMN title="Hours" name="num_hrs" sort="num_hrs" align="center" -->
	<!--#/SMARTTABLE -->

</body>

<script language="JavaScript">
<!--

	function redisplayPage()
	{//used by report

		var r_job_type_id = escape(report.r_job_type_id.options[report.r_job_type_id.selectedIndex].value);
		if( r_job_type_id == null )
			 r_job_type_id = '';

		var r_from_date = escape(report.r_from_date.value);
		if( r_from_date == null )
			 r_from_date = '';

		var r_to_date = escape(report.r_to_date.value);
		if( r_to_date == null )
			 r_to_date = '';

		location='{!s:showPage!}rep/forecast_report.html?r_job_type_id='+r_job_type_id+'&r_from_date='+r_from_date+'&r_to_date='+r_to_date+'&r_show_report=true';
	}

-->
</script>



<!--#EMBED template="enet/embeds/footer.html" -->

