<!-- $Header: job_time_by_job.html, 7, 3/6/2003 11:07:55 AM, Chad Ryan$ -->
<!--#EMBED template="enet/embeds/header.html" -->
<!--#REQUIRED data="<?s:user?>"-->
<!--#REQUIRED data="<?s:rights.rep/job_time_by_job.view?>"-->

<body class="BodyTag" onLoad="window.focus()">


<table width="100%" cellspacing="0" cellpadding="3">

<body class="BodyTag" onLoad="">

	<table width="100%">
		<tr><td colspan="16" class="TableTitle">Job Time By Job Report (No billing)</td></tr>
	</table>

<BR>

	<table border="0" cellspacing="0" cellpadding="3">
	<form name="report">
		<tr>
			<td class="Label">Job #:&nbsp</td>
			<td><!--#SELECT name="r_job_id" class="regular" query="SELECT job_id, CAST(job_no as varchar)+' : '+ISNULL(job_name,'') job_no FROM jobs_v WHERE organization_id = <?s:org_id?> ORDER BY job_no" firstOption="All" firstOptionValue="" currentValue="<?p:r_job_id?>" --></td>
		</tr>
		<tr>
			<td class="Label">Job Name:&nbsp</td>
			<td><!--#SELECT name="r_job_name" class="regular" query="SELECT job_id, ISNULL(job_name,'')+' : '+CAST(job_no as varchar) job_name FROM jobs_v WHERE organization_id = <?s:org_id?> ORDER BY job_name" firstOption="All" firstOptionValue="" currentValue="<?p:r_job_name?>" --></td>
		</tr>
		<tr>
			<td class="Label">Item:&nbsp</td>
			<td><!--#SELECT name="r_item_id" class="regular" query="SELECT item_id, name FROM items_v WHERE organization_id = <?s:org_id?> AND item_status_type_code='active' ORDER BY name" firstOption="All" firstOptionValue="" currentValue="<?p:r_item_id?>" --></td>
		</tr>
		<tr>
			<td class="Label">Employee ID:&nbsp</td>
			<td><!--#SELECT name="r_user_id" class="regular" query="SELECT user_id, ISNULL(CAST(ext_employee_id AS VARCHAR),'')+' : '+first_name+' '+last_name FROM employees_v WHERE organization_id = <?s:org_id?> AND active_flag='Y' ORDER BY ext_employee_id" firstOption="All" firstOptionValue="" currentValue="<?p:r_user_id?>" --></td>
		</tr>
		<tr>
			<td class="Label">Resource Name:&nbsp</td>
			<td><!--#SELECT name="r_resource_id" class="regular" query="SELECT resource_id, resource_name + ':' + res_cat_type_name + ':' + resource_type_name FROM resources_v WHERE organization_id = <?s:org_id?> AND active_flag='Y' ORDER BY resource_name, res_cat_type_name, resource_type_name" firstOption="All" firstOptionValue="" currentValue="<?p:r_resource_id?>" --></td>
		</tr>
		<tr>
			<td class="HeaderLabel">Customer:&nbsp</td>
			<td><!--#SELECT name="r_customer_id" class="regular" query="SELECT customer_id, customer_name FROM customers WHERE organization_id = <?s:org_id?> AND ext_dealer_id <?p:r_ext_dealer_id.isNullSQLStringLike('%')?> ORDER BY customer_name" firstOption="All" firstOptionValue="" currentValue="<?p:r_customer_id?>" --></td>
		</tr>
		<tr>
			<td class="Label">End User:&nbsp</td>
			<td><!--#SELECT name="r_end_user_id" class="regular" query="SELECT customer_id end_user_id, customer_name end_user_name FROM customers WHERE organization_id = <?s:org_id?> AND active_flag='y' AND customer_type_id=(SELECT lookup_id FROM lookups l INNER JOIN lookup_types lt ON l.lookup_type_id=lt.lookup_type_id WHERE lt.code='customer_type' AND l.code='end_user') ORDER BY customer_name" firstOption="All" firstOptionValue="" currentValue="<?p:r_end_user_id?>" --></td>
		</tr>
		<tr>
			<td colspan="2"><table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="Label">From Date:&nbsp</td>
					<td>
				<!--#IF DEFINED="<?p:r_from_date?>" -->
						<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!p:r_from_date!}" size="12" -->
				<!--#ELSE-->
					<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as from_date" name="dateQuery"-->
			     		<input name="r_from_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>" value="{!r:dateQuery:from_date!}" size="12"-->
					<!--#/SQLLOOP-->
				<!--#/IF-->
						<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_from_date)')</script>
					</td>
					<td class="Label">&nbsp;&nbsp;&nbsp;To Date:&nbsp;</td>
			     	<td>
				<!--#IF DEFINED="<?p:r_to_date?>" -->
						<input name="r_to_date" class="regular" img="<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>" value="{!p:r_to_date!}" size="12" -->
				<!--#ELSE-->
					<!--#SQLLOOP query="SELECT convert(varchar(12), getDate(), 101) as to_date" name="dateQuery"-->
			     		<input name="r_to_date" class="regular" value="{!r:dateQuery:to_date!}" size="12"-->&nbsp;
					<!--#/SQLLOOP-->
				<!--#/IF-->
						<script>makeButton('selectDate','calendar_off','calendar_on','chooseDate(r_to_date)')</script>
					</td>
				</tr>
			</table></td>
		</tr>
		<tr>
   	   <td><input type="button" name="set_button" value="Run Report" onClick="redisplayPage();" class="button2"-->&nbsp;</td>
		</tr>
	</form>
	</table>

<BR>
   <!--#SMARTTABLE class="SmartTable" name="job_time_by_job_v" maxRows="10000"
		query="SELECT CASE WHEN (GROUPING(r.job_no_varchar) = 1) THEN 'ALL JOBS' ELSE ISNULL(r.job_no_varchar, 'UNKNOWN') END as job_no,
	   			      CASE WHEN (GROUPING(r.item_name) = 1) THEN 'ALL ITEMS' ELSE ISNULL(r.item_name, 'UNKNOWN') END as item_name,
	   			      CASE WHEN (GROUPING(r.ext_pay_code) = 1) THEN 'ALL PAYCODES' ELSE ISNULL(r.ext_pay_code, 'UNKNOWN') END as ext_pay_code,
	   			      CASE WHEN (GROUPING(r.resource_name) = 1) THEN 'ALL RESOURCES' ELSE ISNULL(r.resource_name, 'UNKNOWN') END as resource_name,
	   			      SUM(ISNULL(r.TC_QTY,0)) TC_QTY,
	   			      SUM(ISNULL(r.TC_TOTAL,0)) TC_TOTAL,
	   			      r.TC_RATE
				 FROM job_time_by_job_v r
		   	    WHERE 'true' = <?p:r_show_report.isNullSQLString('false')?>
	   		      AND r.organization_id = <?s:org_id.toSQLString()?>
	   		      AND (r.end_user_id = <?p:r_end_user_id.toSQLString()?> OR <?p:r_end_user_id.toSQLString()?> IS NULL)
			      AND (r.tc_job_id like <?p:r_job_id.isNullSQLString('%')?> AND r.tc_job_id like <?p:r_job_name.isNullSQLString('%')?>)
	   		      AND (r.item_id like <?p:r_item_id.isNullSQLString('%')?> )
	   		      AND (r.user_id like <?p:r_user_id.isNullSQLString('%')?> or r.user_id is null)
	   		      AND (r.resource_id like <?p:r_resource_id.isNullSQLString('%')?> )
	   		      AND (r.customer_id <?p:r_customer_id.isNullLike('%')?> )
			      AND (r.service_line_date between <?p:r_from_date.isNullSQLString('1/1/1901')?> and <?p:r_to_date.isNullSQLString('1/1/2101')?>)
			      AND (r.ph_service_id IS NULL)
			 GROUP BY r.job_no_varchar, r.item_name, r.ext_pay_code, r.resource_name, r.tc_rate WITH Rollup" -->

		<!--#SMARTCOLUMN title="Job#" name="job_no" align="center"  -->
		<!--SMARTCOLUMN title="End User" name="end_user_name" align="left"  -->
		<!--#SMARTCOLUMN title="Item" name="item_name" -->
		<!--#SMARTCOLUMN title="Paycode" name="ext_pay_code" -->
		<!--#SMARTCOLUMN title="Resource&nbsp;Name" name="resource_name" -->
		<!--#SMARTCOLUMN title="TC&nbsp;Qty" name="TC_QTY" align="right"-->
		<!--#SMARTCOLUMN title="TC&nbsp;Rate" name="TC_RATE" align="right"-->
		<!--#SMARTCOLUMN title="TC&nbsp;Total" name="TC_TOTAL" format="money" align="right"-->
   <!--#/SMARTTABLE -->

</body>

<script language="JavaScript">
<!--

	function redisplayPage()
	{//used by report

		var r_job_id = escape(report.r_job_id.options[report.r_job_id.selectedIndex].value);
		if( r_job_id == null )
			 r_job_id = '';

		var r_job_name = escape(report.r_job_name.options[report.r_job_name.selectedIndex].value);
		if( r_job_name == null )
			 r_job_name = '';

		var r_item_id = escape(report.r_item_id.options[report.r_item_id.selectedIndex].value);
		if( r_item_id == null )
			 r_item_id = '';

		var r_user_id = escape(report.r_user_id.options[report.r_user_id.selectedIndex].value);
		if( r_user_id == null )
			 r_user_id = '';

		var r_resource_id = escape(report.r_resource_id.options[report.r_resource_id.selectedIndex].value);
		if( r_resource_id == null )
			 r_resource_id = '';

		var r_customer_id = escape(report.r_customer_id.options[report.r_customer_id.selectedIndex].value);
		if( r_customer_id == null )
			r_customer_id = '';

		var r_end_user_id = escape(report.r_end_user_id.options[report.r_end_user_id.selectedIndex].value);
		if( r_end_user_id == null )
			 r_end_user_id = '';

		var r_from_date = escape(report.r_from_date.value);
		if( r_from_date == null )
			 r_from_date = '';

		var r_to_date = escape(report.r_to_date.value);
		if( r_to_date == null )
			 r_to_date = '';

		location='{!s:showPage!}rep/job_time_by_job.html?r_user_id='+r_user_id+'&r_resource_id='+r_resource_id+'&r_job_id='+r_job_id+'&r_job_name='+r_job_name+'&r_customer_id='+r_customer_id+'&r_end_user_id='+r_end_user_id+'&r_item_id='+r_item_id+'&r_from_date='+r_from_date+'&r_to_date='+r_to_date+'&r_show_report=true';
	}

-->
</script>



<!--#EMBED template="enet/embeds/footer.html" -->

