<!--#EMBED template="embeds/header.html"-->

<body class="BodyTag">


<table class="SmartTable" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tableHeader">Job/Item Summary</td>
	</tr>
</table>

<!--#SMARTTABLE name="service_lines"
	class="SmartTable" TableTotal="true" totalClass="TableTotal"
	query="SELECT tc_job_id, tc_job_no, job_name, item_name, sum(payroll_qty) hours_tot, sum(expense_total) exp_tot, ext_pay_code
	FROM time_capture_v
	WHERE status_code = 'submitted'
	AND (
		foreman_user_id = <?s:user_id.toPStmtString()?>
		OR billing_user_id = <?s:user_id.toPStmtString()?>
		OR 'true' = <?s:rights.view_all_jobs.view.isNull('false').toPStmtString()?>
		)
	AND ph_service_id is null
    AND fully_allocated_flag = 'N'
	AND organization_id = <?s:org_id.toPStmtString()?>
	AND billed_flag = 'N'
	GROUP BY tc_job_id, tc_job_no, job_name, item_name, ext_pay_code
	ORDER BY tc_job_no"
-->
  <!--#SMARTCOLUMN name="tc_job_no" sort="tc_job_no" title="Job#" width="5%" align="center" href="<?s:action?>setupSession/job/job_main.html?job_id=<?r:service_lines:tc_job_id?>&loc=job_tc_list" target="main_frame" filter="job_no:job_no" -->
  <!--#SMARTCOLUMN name="job_name" sort="job_name" title="Job Name" width="15%" filter="job_name:job_name" -->
  <!--#SMARTCOLUMN name="item_name" sort="item_name" title="Work Code" width="8%" filter="item_name:item_name" -->
  <!--#SMARTCOLUMN name="ext_pay_code" sort="ext_pay_code" title="Paycode" width="5%" align="center" filter="ext_pay_code:ext_pay_code" -->
  <!--#SMARTCOLUMN name="hours_tot" sort="hours_tot" title="Hours" align="right" total="true" format="###,###,###,##0.00" width="5%" -->
  <!--#SMARTCOLUMN name="exp_tot" sort="exp_tot" title="Exp Total" align="right" total="true" format="money" width="5%" -->
<!--#/SMARTTABLE -->
<br>

<!--#EMBED template="time/po/po_list.html" main_page="main_tc_list_sum_det.html"-->
</body>
<!--#EMBED template="embeds/footer.html" -->
