<!--#EMBED template="embeds/header.html" -->

<body class="BodyTag">


<table cellspacing="0" cellpadding="0" border="0">
<tr>
    <td width="100" align="middle">
		<a href="{!s:action!}launchCharm?address=time.html%3FjobId={!s:job_id!}" target="_new">Add Hours</a>
	</td>
    <td width="100" align="middle">
		<a href="{!s:action!}launchCharm?address=driverTime.html%3FjobId={!s:job_id!}" target="_new">Add Hours Driver</a>
	</td>
   <td width="100" align="middle">
		<A href="{!s:action!}setServiceLineFields/time/tc_edit.html?item_type_code=expense&prev_template=time/req_tc_main.html&p_job_id={!s:job_id!}&service_id={!s:service_id!}&module=time&module_mode=create&level=line&level={!p:level!}" target="_parent">Add Expenses</A>
	</td>
</tr>
</table>
<hr>




</body>

<!--#EMBED template="embeds/footer.html" -->
