<!--#EMBED template="embeds/header.html" -->
<!-- $Header: main_pay_user_det.html, 3, 1/7/2005 5:10:26 PM, Lee A. Gunderson$ -->
<!--#REQUIRED data="<?s:user?>"-->
<!--#REQUIRED data="<?s:rights.time/pay/payroll.view?>"-->

<body class="BodyTag">

<TABLE class="SmartTable" border="0" cellpadding="0" cellspacing="0"> <tr><td class="HeaderBar">{!p:emp_name!}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {!p:begin_week!} - {!p:end_week!}</td></tr></TABLE>
   <!--#SMARTTABLE name="payrollQry" totalClass="tableTotal"
    query="
    SELECT p.tc_job_id, p.tc_job_no, p.service_line_id, p.tc_service_line_no, p.service_line_date_varchar, p.item_name, p.ext_pay_code, p.payroll_qty
  FROM payroll_v p
  WHERE p.payroll_exported_flag = 'N' and p.service_line_week = <?p:service_line_week.toPStmtString()?> and p.user_id = <?p:user_id.toPStmtString()?> and p.organization_id = <?s:org_id.toPStmtString()?>
  ORDER BY p.service_line_date_varchar, p.tc_job_no, p.ext_pay_code"
   -->
  <!--#SMARTCOLUMN width="5%" name="service_line_date_varchar" sort="service_line_date_varchar" title="Date" align="center" filter="p.service_line_date_varchar:service_line_date_varchar" -->
  <!--#SMARTCOLUMN width="5%" name="tc_job_no" sort="tc_job_no" title="Job#" align="center" filter="p.tc_job_no:tc_job_no" -->
  <!--#SMARTCOLUMN width="5%" name="tc_service_line_no" sort="tc_service_line_no" align="center" title="Line#" href="<?s:showPage?>time/tc_edit.html?service_line_id=<?r:payrollQry:service_line_id?>&module=payroll&module_mode=edit&job_id=<?r:payrollQry:tc_job_id?>&service_line_week=<?p:service_line_week?>&begin_week=<?p:begin_week?>&end_week=<?p:end_week?>&emp_name=<?p:emp_name?>&user_id=<?p:user_id?>&prev_template=time/pay/main_pay_user_det.html" filter="p.tc_service_line_no:tc_service_line_no" -->
  <!--#SMARTCOLUMN width="5%" name="item_name" sort="item_name" title="Item" align="center" filter="p.item_name:item_name" -->
  <!--#SMARTCOLUMN width="5%" name="ext_pay_code" sort="ext_pay_code" title="Pay Code" align="center" filter="p.ext_pay_code:ext_pay_code"-->
  <!--#SMARTCOLUMN width="5%" name="payroll_qty" sort="payroll_qty" title="Payroll Hours" format="###,###,##0.00" align="right" total="true" nowrap-->
   <!--#/SMARTTABLE -->
</body>

<TABLE class="SmartTable" border="0" cellpadding="0" cellspacing="0">
 <tr><td>&nbsp;</td></tr>
 <tr><td>
  <input type="button" value="Cancel" name="button" class="button" onClick="location='{!s:showPage!}time/pay/main_pay_list_pending.html?';">
 </td></tr>
</TABLE>

<!--#EMBED template="embeds/footer.html" -->