<!--#EMBED template="embeds/header.html" -->

<body onLoad="focus()">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	   <tr><td class="tableHeader">Job Item Rates List</td></tr>
	</table>

   <!--#SMARTTABLE name="rate_edit" class="SmartTable"
    	   query="SELECT job_item_rate_id, item_id, item_name, item_type_name, rate, uom_type_name
             	 FROM job_item_rates_v
                WHERE job_id = <?s:job_id?>"

   -->
      <!--#SMARTCOLUMN title="Item" name="item_name" sort="item_name" class="TableRow1Link,TableRow2Link"
         href="<?s:showPage?>job/rate/rate_edit.html?loc=rate_edit&job_item_rate_id=<?r:rate_edit:job_item_rate_id?>" target="rate_edit_frame"
      -->
      <!--#SMARTCOLUMN title="Item Type" name="item_type_name" sort="item_type_name" -->
      <!--#SMARTCOLUMN title="Rate" name="rate" sort="rate" format="$###,###.00#" align="right" -->
      <!--#SMARTCOLUMN title="U of M" name="uom_type_name" sort="uom_type_name" -->
   <!--#/SMARTTABLE -->

</body>

<!--#EMBED template="embeds/footer.html" -->