<!--#EMBED template="embeds/header.html" -->

<frameset rows="200,*" framespacing="0" frameborder="no">

   <frame name="rate_edit_frame" src="{!s:showPage!}job/rate/rate_edit.html?loc=rate_main&job_id={!p:job_id!}" scrolling="NO" noresize>
   <frame name="rate_list_frame" src="{!s:showPage!}job/rate/rate_list.html?loc=rate_list&job_id={!p:job_id!}">
   <noframes>
      Your browser does not support frames.
   </noframes>

</frameset>


<!--#EMBED template="embeds/footer.html" -->
