/*
   Wednesday, August 05, 20094:46:38 PM
   User: sa
   Server: LEXUS\LEXUS32DEV
   Database: ims
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT FK_PROJECTS_USERS_C
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT FK_PROJECTS_USERS_M
GO
COMMIT
select Has_Perms_By_Name(N'dbo.USERS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.USERS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.USERS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT fk_project_end_user
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT FK_PROJECTS_CUSTOMERS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT FK_PROJECT_STATUSES
GO
ALTER TABLE dbo.PROJECTS
	DROP CONSTRAINT FK_PROJECT_TYPES
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_PROJECTS
	(
	PROJECT_ID numeric(18, 0) NOT NULL IDENTITY (1, 1),
	PROJECT_NO numeric(18, 0) NOT NULL,
	CUSTOMER_ID numeric(18, 0) NOT NULL,
	JOB_NAME varchar(50) NULL,
	PROJECT_TYPE_ID numeric(18, 0) NOT NULL,
	PROJECT_STATUS_TYPE_ID numeric(18, 0) NOT NULL,
	PERCENT_COMPLETE numeric(10, 5) NULL,
	END_USER_ID numeric(18, 0) NULL,
	IS_NEW varchar(1) NULL,
	DATE_CREATED datetime NOT NULL,
	CREATED_BY numeric(18, 0) NOT NULL,
	DATE_MODIFIED datetime NULL,
	MODIFIED_BY numeric(18, 0) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_PROJECTS ADD CONSTRAINT
	DF_PROJECTS_IS_NEW DEFAULT 'Y' FOR IS_NEW
GO
SET IDENTITY_INSERT dbo.Tmp_PROJECTS ON
GO
IF EXISTS(SELECT * FROM dbo.PROJECTS)
	 EXEC('INSERT INTO dbo.Tmp_PROJECTS (PROJECT_ID, PROJECT_NO, CUSTOMER_ID, JOB_NAME, PROJECT_TYPE_ID, PROJECT_STATUS_TYPE_ID, PERCENT_COMPLETE, END_USER_ID, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY)
		SELECT PROJECT_ID, PROJECT_NO, CUSTOMER_ID, JOB_NAME, PROJECT_TYPE_ID, PROJECT_STATUS_TYPE_ID, PERCENT_COMPLETE, end_user_id, DATE_CREATED, CREATED_BY, DATE_MODIFIED, MODIFIED_BY FROM dbo.PROJECTS WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_PROJECTS OFF
GO
ALTER TABLE dbo.PROJECT_NOTES
	DROP CONSTRAINT FK_PN_PROJECTS
GO
ALTER TABLE dbo.DOCUMENTS
	DROP CONSTRAINT FK_DOCUMENTS_PROJECTS
GO
ALTER TABLE dbo.PUNCHLISTS
	DROP CONSTRAINT FK_PUNCHLISTS_PROJECTS
GO
ALTER TABLE dbo.REQUESTS
	DROP CONSTRAINT FK_REQUEST_PROJECTS
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_PROJECTS
GO
DROP TABLE dbo.PROJECTS
GO
EXECUTE sp_rename N'dbo.Tmp_PROJECTS', N'PROJECTS', 'OBJECT' 
GO
ALTER TABLE dbo.PROJECTS ADD CONSTRAINT
	PK_PROJECTS PRIMARY KEY CLUSTERED 
	(
	PROJECT_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IX_PROJECT_CUSTOMERS ON dbo.PROJECTS
	(
	CUSTOMER_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_PROJECTS_NO ON dbo.PROJECTS
	(
	PROJECT_NO
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_PROJECT_STATUS_TYPE_ID ON dbo.PROJECTS
	(
	PROJECT_STATUS_TYPE_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_project_end_user ON dbo.PROJECTS
	(
	END_USER_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX IX_project_p_eu ON dbo.PROJECTS
	(
	PROJECT_ID,
	END_USER_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.PROJECTS ADD CONSTRAINT
	FK_PROJECT_STATUSES FOREIGN KEY
	(
	PROJECT_STATUS_TYPE_ID
	) REFERENCES dbo.LOOKUPS
	(
	LOOKUP_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PROJECTS ADD CONSTRAINT
	fk_project_end_user FOREIGN KEY
	(
	END_USER_ID
	) REFERENCES dbo.CUSTOMERS
	(
	CUSTOMER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PROJECTS WITH NOCHECK ADD CONSTRAINT
	FK_PROJECTS_USERS_C FOREIGN KEY
	(
	CREATED_BY
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PROJECTS WITH NOCHECK ADD CONSTRAINT
	FK_PROJECTS_USERS_M FOREIGN KEY
	(
	MODIFIED_BY
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PROJECTS WITH NOCHECK ADD CONSTRAINT
	FK_PROJECTS_CUSTOMERS FOREIGN KEY
	(
	CUSTOMER_ID
	) REFERENCES dbo.CUSTOMERS
	(
	CUSTOMER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PROJECTS ADD CONSTRAINT
	FK_PROJECT_TYPES FOREIGN KEY
	(
	PROJECT_TYPE_ID
	) REFERENCES dbo.LOOKUPS
	(
	LOOKUP_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.REQUESTS WITH NOCHECK ADD CONSTRAINT
	FK_REQUEST_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.REQUESTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.REQUESTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.REQUESTS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PUNCHLISTS WITH NOCHECK ADD CONSTRAINT
	FK_PUNCHLISTS_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PUNCHLISTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PUNCHLISTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PUNCHLISTS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.DOCUMENTS WITH NOCHECK ADD CONSTRAINT
	FK_DOCUMENTS_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.DOCUMENTS
	NOCHECK CONSTRAINT FK_DOCUMENTS_PROJECTS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DOCUMENTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DOCUMENTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DOCUMENTS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PROJECT_NOTES ADD CONSTRAINT
	FK_PN_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PROJECT_NOTES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PROJECT_NOTES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PROJECT_NOTES', 'Object', 'CONTROL') as Contr_Per 