/*
   Tuesday, January 27, 200911:03:19 AM
   User: sa
   Server: LEXUS\LEXUS32DEV
   Database: ims_new
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_BILLING_USERS
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_USERS_C
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_USERS_M
GO
COMMIT
select Has_Perms_By_Name(N'dbo.USERS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.USERS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.USERS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_PROJECTS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PROJECTS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_TYPES
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_STATUSES
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LOOKUPS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT fk_job_end_user
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_CUSTOMERS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CUSTOMERS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT FK_JOBS_FOREMAN_RESOURCES
GO
COMMIT
select Has_Perms_By_Name(N'dbo.RESOURCES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.RESOURCES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.RESOURCES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOBS
	DROP CONSTRAINT DF__JOBS__SPREADSHEE__3F0D9731
GO
CREATE TABLE dbo.Tmp_JOBS
	(
	JOB_ID numeric(18, 0) NOT NULL IDENTITY (1, 1),
	PROJECT_ID numeric(18, 0) NULL,
	JOB_NO numeric(18, 0) NULL,
	JOB_NAME varchar(100) NULL,
	JOB_TYPE_ID numeric(18, 0) NOT NULL,
	JOB_STATUS_TYPE_ID numeric(18, 0) NOT NULL,
	CUSTOMER_ID numeric(18, 0) NOT NULL,
	EXT_PRICE_LEVEL_ID varchar(11) NULL,
	BILLING_USER_ID numeric(18, 0) NULL,
	FOREMAN_RESOURCE_ID numeric(18, 0) NULL,
	WATCH_FLAG varchar(1) NULL,
	VIEW_SCHEDULE_FLAG varchar(1) NOT NULL,
	CREATED_BY numeric(18, 0) NOT NULL,
	DATE_CREATED datetime NOT NULL,
	MODIFIED_BY numeric(18, 0) NULL,
	DATE_MODIFIED datetime NULL,
	SPREADSHEET_BILLING_FLAG varchar(1) NOT NULL,
	A_M_SALES_CONTACT_ID numeric(18, 0) NULL,
	end_user_id numeric(18, 0) NULL
	)  ON [PRIMARY]
GO
DECLARE @v sql_variant 
SET @v = N'The job should show up on the scheduler''s job assignment page'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_JOBS', N'COLUMN', N'VIEW_SCHEDULE_FLAG'
GO
ALTER TABLE dbo.Tmp_JOBS ADD CONSTRAINT
	DF_JOBS_VIEW_SCHEDULE_FLAG DEFAULT 'Y' FOR VIEW_SCHEDULE_FLAG
GO
ALTER TABLE dbo.Tmp_JOBS ADD CONSTRAINT
	DF__JOBS__SPREADSHEE__3F0D9731 DEFAULT ('N') FOR SPREADSHEET_BILLING_FLAG
GO
SET IDENTITY_INSERT dbo.Tmp_JOBS ON
GO
IF EXISTS(SELECT * FROM dbo.JOBS)
	 EXEC('INSERT INTO dbo.Tmp_JOBS (JOB_ID, PROJECT_ID, JOB_NO, JOB_NAME, JOB_TYPE_ID, JOB_STATUS_TYPE_ID, CUSTOMER_ID, EXT_PRICE_LEVEL_ID, BILLING_USER_ID, FOREMAN_RESOURCE_ID, WATCH_FLAG, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SPREADSHEET_BILLING_FLAG, A_M_SALES_CONTACT_ID, end_user_id)
		SELECT JOB_ID, PROJECT_ID, JOB_NO, JOB_NAME, JOB_TYPE_ID, JOB_STATUS_TYPE_ID, CUSTOMER_ID, EXT_PRICE_LEVEL_ID, BILLING_USER_ID, FOREMAN_RESOURCE_ID, WATCH_FLAG, CREATED_BY, DATE_CREATED, MODIFIED_BY, DATE_MODIFIED, SPREADSHEET_BILLING_FLAG, A_M_SALES_CONTACT_ID, end_user_id FROM dbo.JOBS WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_JOBS OFF
GO
ALTER TABLE dbo.SERVICES
	DROP CONSTRAINT FK_SERVICES_JOBS
GO
ALTER TABLE dbo.INVOICES
	DROP CONSTRAINT FK_I_JOBS
GO
ALTER TABLE dbo.SCH_RESOURCES
	DROP CONSTRAINT FK_SR_JOBS
GO
ALTER TABLE dbo.TRACKING
	DROP CONSTRAINT FK_TRACKING_JOBS
GO
ALTER TABLE dbo.RESOURCE_ESTIMATES
	DROP CONSTRAINT FK_RE_JOBS
GO
ALTER TABLE dbo.JOB_DISTRIBUTIONS
	DROP CONSTRAINT FK_JD_JOBS
GO
ALTER TABLE dbo.JOB_ITEM_RATES
	DROP CONSTRAINT FK_JIR_JOBS
GO
DROP TABLE dbo.JOBS
GO
EXECUTE sp_rename N'dbo.Tmp_JOBS', N'JOBS', 'OBJECT' 
GO
ALTER TABLE dbo.JOBS ADD CONSTRAINT
	PK_JOBS PRIMARY KEY CLUSTERED 
	(
	JOB_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IX_JOB_PROJECTS ON dbo.JOBS
	(
	PROJECT_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_JOB_CUSTOMERS ON dbo.JOBS
	(
	CUSTOMER_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_JOB_TYPES ON dbo.JOBS
	(
	JOB_TYPE_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_JOB_BILLING_USERS ON dbo.JOBS
	(
	BILLING_USER_ID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.JOBS ADD CONSTRAINT
	SPREADSHEET_BILLING_YN CHECK (([SPREADSHEET_BILLING_FLAG] = 'Y' or [SPREADSHEET_BILLING_FLAG] = 'N'))
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_FOREMAN_RESOURCES FOREIGN KEY
	(
	FOREMAN_RESOURCE_ID
	) REFERENCES dbo.RESOURCES
	(
	RESOURCE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS ADD CONSTRAINT
	fk_job_end_user FOREIGN KEY
	(
	end_user_id
	) REFERENCES dbo.CUSTOMERS
	(
	CUSTOMER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_CUSTOMERS FOREIGN KEY
	(
	CUSTOMER_ID
	) REFERENCES dbo.CUSTOMERS
	(
	CUSTOMER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_TYPES FOREIGN KEY
	(
	JOB_TYPE_ID
	) REFERENCES dbo.LOOKUPS
	(
	LOOKUP_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_STATUSES FOREIGN KEY
	(
	JOB_STATUS_TYPE_ID
	) REFERENCES dbo.LOOKUPS
	(
	LOOKUP_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_PROJECTS FOREIGN KEY
	(
	PROJECT_ID
	) REFERENCES dbo.PROJECTS
	(
	PROJECT_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_BILLING_USERS FOREIGN KEY
	(
	BILLING_USER_ID
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_USERS_C FOREIGN KEY
	(
	CREATED_BY
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.JOBS WITH NOCHECK ADD CONSTRAINT
	FK_JOBS_USERS_M FOREIGN KEY
	(
	MODIFIED_BY
	) REFERENCES dbo.USERS
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.JOBS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOB_ITEM_RATES WITH NOCHECK ADD CONSTRAINT
	FK_JIR_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.JOB_ITEM_RATES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.JOB_ITEM_RATES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.JOB_ITEM_RATES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.JOB_DISTRIBUTIONS WITH NOCHECK ADD CONSTRAINT
	FK_JD_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.JOB_DISTRIBUTIONS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.JOB_DISTRIBUTIONS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.JOB_DISTRIBUTIONS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.RESOURCE_ESTIMATES WITH NOCHECK ADD CONSTRAINT
	FK_RE_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.RESOURCE_ESTIMATES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.RESOURCE_ESTIMATES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.RESOURCE_ESTIMATES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.TRACKING WITH NOCHECK ADD CONSTRAINT
	FK_TRACKING_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TRACKING', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TRACKING', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TRACKING', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.SCH_RESOURCES WITH NOCHECK ADD CONSTRAINT
	FK_SR_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SCH_RESOURCES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SCH_RESOURCES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SCH_RESOURCES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.INVOICES WITH NOCHECK ADD CONSTRAINT
	FK_I_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.INVOICES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.INVOICES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.INVOICES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.SERVICES WITH NOCHECK ADD CONSTRAINT
	FK_SERVICES_JOBS FOREIGN KEY
	(
	JOB_ID
	) REFERENCES dbo.JOBS
	(
	JOB_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.SERVICES
	NOCHECK CONSTRAINT FK_SERVICES_JOBS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'CONTROL') as Contr_Per 