/*
   Thursday, November 20, 20082:49:37 PM
   User: sa
   Server: LEXUS\LEXUS32DEV
   Database: ims_new
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.POOLED_HOURS_CALC
	DROP CONSTRAINT FK_PHC_ITEMS
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ITEMS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ITEMS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ITEMS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.POOLED_HOURS_CALC
	DROP CONSTRAINT FK_PHC_SERVICES
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SERVICES', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_POOLED_HOURS_CALC
	(
	SERVICE_ID numeric(18, 0) NOT NULL,
	ITEM_ID numeric(18, 0) NOT NULL,
	RATE numeric(18, 3) NOT NULL,
	QTY_POOLED numeric(18, 2) NOT NULL,
	QTY_DIST numeric(18, 2) NOT NULL
	)  ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.POOLED_HOURS_CALC)
	 EXEC('INSERT INTO dbo.Tmp_POOLED_HOURS_CALC (SERVICE_ID, ITEM_ID, RATE, QTY_POOLED, QTY_DIST)
		SELECT SERVICE_ID, ITEM_ID, RATE, QTY_POOLED, QTY_DIST FROM dbo.POOLED_HOURS_CALC WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.POOLED_HOURS_CALC
GO
EXECUTE sp_rename N'dbo.Tmp_POOLED_HOURS_CALC', N'POOLED_HOURS_CALC', 'OBJECT' 
GO
ALTER TABLE dbo.POOLED_HOURS_CALC ADD CONSTRAINT
	PK_POOLED_HOURS_CALC PRIMARY KEY CLUSTERED 
	(
	SERVICE_ID,
	ITEM_ID,
	RATE
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.POOLED_HOURS_CALC WITH NOCHECK ADD CONSTRAINT
	FK_PHC_SERVICES FOREIGN KEY
	(
	SERVICE_ID
	) REFERENCES dbo.SERVICES
	(
	SERVICE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.POOLED_HOURS_CALC WITH NOCHECK ADD CONSTRAINT
	FK_PHC_ITEMS FOREIGN KEY
	(
	ITEM_ID
	) REFERENCES dbo.ITEMS
	(
	ITEM_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.POOLED_HOURS_CALC', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.POOLED_HOURS_CALC', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.POOLED_HOURS_CALC', 'Object', 'CONTROL') as Contr_Per 