<!--#EMBED template="embeds/header.html"-->
<!-- $Header: main_inv_list_acct_query.html, 2, 4/7/2005 9:30:47 AM, Greg Case$ -->

<script type="text/javascript">
<!--
function exportInvoices(form)
{
	if (form.submit_action.options[form.submit_action.selectedIndex].value == 'changeInvoiceStatus4')
	{
		if (form.batch_id.value == null || form.batch_id.value < 1)
		{
			alert("Please Enter Batch ID.");
			return;
		}
		else
		{
			form.submit();
		}

	}
	else
	{
		form.submit();
	}
}
-->
</script>

<body class="BodyTag">

<table cellspacing="0" cellpadding="0" border="0" width="300">
	<tr>
		<td width="100" align="middle">
			<A href="{!s:showPage!}bill/inv/main_inv_list_acct.html">Process Invoices</A>
		</td>
		<td width="100" align="middle">
			Query Invoices
		</td>
	</tr>
	<tr height="5"><td>&nbsp;</td></tr>
</table>


<TABLE class="SmartTable" border="0" cellpadding="0" cellspacing="0"> <tr><td class="HeaderBar">Query Invoices</td></tr></TABLE>
<!--#SQLLOOP query="SELECT status_id, name status FROM invoice_statuses where status_id = 4" name="status_inv"-->
<FORM ACTION="{!s:action!}setServiceLineStatus" METHOD="POST" name="InvoiceForm">
<TABLE class="SmartTable" border="0" cellpadding="0" cellspacing="0"> <tr><td height="25" class="tableTitle">{!r:status_inv:status!}</td></tr></TABLE>
	<input type="hidden" name="level" value="invoice">
	<input type="hidden" name="template_name" value="bill/inv/main_inv_list_acct_query.html">


	<!--#SMARTTABLE name="invoice_lines"
		class="SmartTable" totalClass="TableTotal"
		query="select
    data.custom_tot,
	data.hours_total,
	data.exp_tot,
    data.ext_batch_id,
	data.total_tot,	
	data.assigned_to_name,
	data.job_no,
	data.job_id,	
	data.batch_status_id,
	data.batch_status_name,
	data.invoice_id_trk,
	data.invoice_id,
	data.invoice_description,
	data.invoice_type_name,
	data.invoice_status_id,
	data.date_sent,
	data.customer_name,
	data.end_user_name,
	data.job_type_name,
	data.po_no,
	data.readonly,
	data.invoice_date_created
from
(select
	cli.ct custom_tot,
	cli.ht hours_total,
	cli.et exp_tot,
    i.ext_batch_id,
	cli.ct + cli.ht + cli.et total_tot,	
	au.first_name + ' ' + au.last_name assigned_to_name,
	j.job_no,
	j.job_id,	
	ib.status_id batch_status_id,
	ib.name batch_status_name,
	convert(varchar, i.invoice_id) + 
	case
		when iv.invoice_id is null then ''
		else '*'
	end invoice_id_trk,
	i.invoice_id,
	i.description invoice_description,
	tl.name invoice_type_name,
	i.status_id invoice_status_id,
	CONVERT(VARCHAR(12), i.date_sent, 101) date_sent,
	case l.code
		when 'end_user' then pc.customer_name
		else c.customer_name
	end customer_name,
	case l.code
		when 'end_user' then c.customer_name
		else eu.customer_name
	end end_user_name,
	jt.name job_type_name,
	i.po_no,
	case ib.status_id
		when -1 then 'false'
		else 'true'
	end readonly,
	i.date_created invoice_date_created
from
	invoices i
	join (
		select
			il.invoice_id,
            sum(
            case
				when it.code = 'custom' then il.unit_price * il.qty else 0 end) ct,
            sum(
            case
				when it.code = 'system' and imt.code = 'hours' then il.unit_price * il.qty else 0 end) ht,
            sum(
            case
				when it.code = 'system' and imt.code = 'expense' then il.unit_price * il.qty
				else 0
			end) et
		from
			invoice_lines il
			left join items im on
				il.item_id = im.item_id
			left join lookups it on
				il.invoice_line_type_id = it.lookup_id
			left join lookups imt on
				im.item_type_id = imt.lookup_id
        group by
            il.invoice_id) cli on
		i.invoice_id = cli.invoice_id
	join jobs j on
		i.job_id = j.job_id
	left join invoice_tracking iv on
		i.invoice_id = iv.invoice_id
	left join users au on
		i.assigned_to_user_id = au.user_id
	join invoice_batch_statuses ib on
		ib.status_id = i.batch_status_id
	left join lookups tl on
		i.invoice_type_id = tl.lookup_id
	join customers c on
		c.customer_id = j.customer_id
	left join lookups l on
		c.customer_type_id = l.lookup_id
	left join (
		select
			j.job_id,
			customer_name
		from
			customers c
			join jobs j on
				c.customer_id = j.end_user_id
		where
			j.end_user_id is not null) eu on
		j.job_id = eu.job_id
	left join customers pc on
		c.end_user_parent_id = pc.customer_id
	join lookups jt on
		jt.lookup_id = j.job_type_id
where
	i.organization_id = <?s:org_id.toPStmtInt()?>
	 and i.status_id = <?r:status_inv:status_id.toPStmtInt()?>
group by
	i.invoice_id,
	j.job_no,
	j.job_id,
	i.description,
	iv.invoice_id,
	au.first_name,
	au.last_name,
	ib.status_id,
	ib.name,
	tl.name,
	i.status_id,
	i.date_sent,
	l.code,
	c.customer_name,
	eu.customer_name,
	pc.customer_name,
	jt.name,
	i.po_no,
	i.date_created,
	i.ext_batch_id,
    cli.ht,
    cli.ct,
    cli.et) data
order by
	invoice_id desc"
	-->
			<!--#SMARTCOLUMN name="invoice_id_trk" sort="invoice_id" title="Invoice#" width="5%" href="<?s:action?>setupSession/bill/inv/job_inv_main.html?invoice_id=<?r:invoice_lines:invoice_id?>&status_id=<?r:invoice_lines:invoice_status_id?>&batch_status_id=<?r:invoice_lines:batch_status_id?>&readonly=<?r:invoice_lines:readonly?>&job_id=<?r:invoice_lines:job_id?>&prev_template=bill/inv/main_inv_list_acct.html" filter="invoice_id:invoice_id" -->
			<!--#SMARTCOLUMN name="job_no" sort="job_no" title="Job#" width="3%" filter="job_no:job_no" -->
			<!--#SMARTCOLUMN name="date_sent" sort="date_sent" title="Date Sent" width="5%" filter="date_sent:date_sent"-->
			<!--#SMARTCOLUMN name="po_no" sort="po_no" title="PO#" width="5%" filter="po_no:po_no" -->
		    <!--SMARTCOLUMN name="end_user_name" sort="end_user_name" title="End User" width="10%" filter="end_user_name:end_user_name"-->
			<!--#SMARTCOLUMN name="customer_name" sort="customer_name" title="Customer" width="5%" filter="customer_name:customer_name" value="<input readonly='true' class='smartTableDisplay' size='15' value='<?r:invoice_lines:customer_name.replaceString('\'','&#39;')?>'>" -->
			<!--#SMARTCOLUMN name="end_user_name" sort="end_user_name" title="End User" width="5%" filter="end_user_name:end_user_name" value="<input readonly='true' class='smartTableDisplay' size='15' value='<?r:invoice_lines:end_user_name.replaceString('\'','&#39;')?>'>" -->
			<!--#SMARTCOLUMN name="invoice_description" sort="invoice_description" title="Description" width="10%" value="<input readonly='true' class='smartTableDisplay' size='30' value='<?r:invoice_lines:invoice_description.replaceString('\'','&#39;')?>'>" -->
			<!--#SMARTCOLUMN name="hours_total" sort="hours_total" title="Hours Total" align="right" total="true" format="money" width="5%" -->
			<!--#SMARTCOLUMN name="exp_tot" sort="exp_tot" title="Exp Total" align="right" total="true" format="money" width="5%" -->
			<!--#SMARTCOLUMN name="custom_tot" sort="custom_tot" title="Custom Total" align="right" total="true" format="money" width="5%" -->
			<!--#SMARTCOLUMN name="total_tot" sort="total_tot" title="Total" align="right" total="true" format="money" width="5%" -->
			<!--#SMARTCOLUMN name="assigned_to_name" sort="assigned_to_name" title="Assigned To" width="5%" filter="assigned_to_name:assigned_to_name" -->
			<!--#SMARTCOLUMN name="batch_status_name" sort="batch_status_name" title="Batch Status" width="5%"
				filter="batch_status_name:batch_status_name"  filterQuery="SELECT name id, name FROM invoice_batch_statuses" filterQuick="true"
	 		-->
			<!--#SMARTCOLUMN name="ext_batch_id" sort="ext_batch_id" title="Batch ID" width="5%" href="<?s:action?>setupSession/bill/inv/main_inv_batch_det.html?status_id=<?r:invoice_lines:invoice_status_id?>&job_id=<?r:invoice_lines:job_id?>&ext_batch_id=<?r:invoice_lines:ext_batch_id?>&batch_status_id=<?r:invoice_lines:batch_status_id?>&batch_status_name=<?r:invoice_lines:batch_status_name?>&prev_template=bill/inv/main_inv_list_acct.html" filter="ext_batch_id:ext_batch_id" -->
			<!--#SMARTCOLUMN name="invoice_type_name" sort="invoice_type_name" title="Type" width="5%"
				filter="invoice_type_name:invoice_type_name"	filterQuery="SELECT l.name id, l.name FROM lookups l, lookup_types lt WHERE lt.code = 'invoice_type' AND l.lookup_type_id = lt.lookup_type_id ORDER BY l.name" filterQuick="true"
			-->
			<!--#SMARTCOLUMN name="job_type_name" sort="job_type_name" title="Job Type" width="5%"
				filter="job_type_name:job_type_name"	filterQuery="SELECT l.name id, l.name FROM lookups l, lookup_types lt WHERE lt.code = 'job_type' AND l.lookup_type_id = lt.lookup_type_id ORDER BY l.name" filterQuick="true"
			-->
			<!--#SMARTCOLUMN name="invoice_date_created" sort="invoice_date_created" title="Created" format="date" width="5%" -->
	<!--#/SMARTTABLE -->

 <BR> <BR>
</FORM>
<!--#/SQLLOOP-->
* Contains Invoice Tracking
<!--#EMBED template="embeds/footer.html" -->